*{
max-width: 100%;
background-color: chartreuse;
}
h1{

    text-align: center;
    font-family: serif;
    font-size: 2rem;
    color: orangered;
}
ul{
list-style-type: none;
}
.movies{
    color:red ;
}
ul{
    display:inline;
    align-items: center;
    box-sizing: border-box;
    width: 30%;
}
li{
    align-items: center;
    justify-self: center;
    display: block;
    
}
P{
    color: black;
    display: flex;
}